@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  max-width: 1250px;
  width: 100%;
  margin: 0 auto; 
}
.container p,
.container h1{
  text-align: center;
}
h1{
  font-size: 30px;
}
.about__ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
